:root {
  --primary-color: #16DB89;
}

.btn {
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 120px;
  margin-left: 10px;
  box-shadow: 1px -3px 22px -5px rgba(0, 0, 0, 0.17);
  cursor: pointer;
}

.btn.add {
  background-color: var(--primary-color);
}

.btn.remove {
  background-color: tomato;
}

.btn.checkout {
  background-color: #06B86E;
  width: 150px;
  color: #fff;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn.add:hover {
  background-color: #19c07a;
}

.btn.add:active {
  background-color: #16db89b4;
}

.btn.remove:hover {
  background-color: rgb(209, 83, 61);
}
.btn.remove:active {
  background-color: rgb(185, 73, 54);
}

.btn.checkout:hover {
  background-color: #16db89b4;
}
.btn.checkout:active {
  background-color: #16db898a;
}
