body{
    background-color: #ffffff;
    color: #06213C;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.input__field{
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #16DB89;
    background: transparent;
}
.input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 18px;
}
input:focus{
    outline: 0;
}
label{
    order: -1;
    padding-left: 5px;
    color: rgb(128, 128, 128);
    pointer-events: none;
    transition: 0.3s ease all;
    transform: translateY(25px);
}
  
input:focus ~ label,
input:not(:focus):valid ~ label{
    transform: translateY(5px);
    color: #06213C;
    /* font-size: 14px; */
}
